body{
    background: url(bg1.jpg);
    size: 100%;
}
#heading1{
    color:yellow;
    text-decoration: dotted;
    text-align: center;
    position: absolute;
    top: 230px;
    left: 500px;
    font-size: 50px;
}
.textbox{
    position: absolute;
    top: 500px;
    left: 500px;
    font-size: 30px;
}
input{
    width: 500px;
    height: 50px;
}